[defaults]
inventory = ../hosts/hosts.local

# Turn off strict host key checking, and blank out the known_hosts file
[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
